@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.media a{
    color: rgb(139, 4, 4);
}

li, a{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: #fff;
    text-decoration: none;
}

header{
    padding: 1px;
    background-color: #302d2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    background-color: #070707;
}

.logo{
    cursor: pointer;
}

.nav_links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 30px;
    text-transform: uppercase;
}

.nav_links li a{
    margin-right: 10px;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(139, 4, 4);
}

.p1 h1{
    font-size: 40px;
    margin-top: 250px;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: lighter;
}

.p1 h2{
    text-transform: uppercase;
    font-size: 100px;
    margin-top: 70px;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight:normal;
}

.socials{
    margin-top: 20px;
}

.socials a{
    color: #888;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.3s ease 0s;
}

.socials a:hover{
    color: rgb(255, 255, 255);
}

.butt button{
    margin-top: 40px;


}

.btn{
    background: transparent;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 20px;
    box-shadow: 0 0 0 white;
    transition: ease-in .3s;
}

a{
    color: #fff;
    text-decoration: none;
    transition: ease-in-out .3s;
}

.btn:hover{
    box-shadow: 0 0 20 #fff,
    inset 200px 0 #fff;
    background-color: #fff;
}

.btn:hover a{
    color: rgb(38, 38, 38);
}

.descrip{
    margin-top: 230px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 8px;
    color: #888;
}
